{
  "openapi": "3.0.3",
  "info": {
    "title": "SalesSparrow Account Tasks API's",
    "description": "Following api's will be called from the SalesSparrow application",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://sales.truesparrow.com/api"
    }
  ],
  "components": {
    "schemas": {
      "task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "00U1e000003TUB8EAO"
          },
          "creator_name": {
            "type": "string",
            "example": "xyz"
          },
          "crm_organization_user_name": {
            "type": "string",
            "example": "abc"
          },
          "description": {
            "type": "string",
            "example": "Complete remaining task"
          },
          "due_date": {
            "type": "string",
            "format": "date",
            "example": "2019-10-12"
          },
          "last_modified_time": {
            "type": "string",
            "format": "date-time",
            "example": "2019-10-12T07:20:50.52Z"
          }
        }
      }
    }
  },
  "paths": {
    "/v1/accounts/account_id/tasks": {
      "get": {
        "description": "Api will return list of tasks for accountId",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "task_ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "00U1e000003TUB8EAO"
                      }
                    },
                    "task_map_by_id": {
                      "type": "object",
                      "properties": {
                        "00U1e000003TUB8EAO": {
                          "$ref": "#/components/schemas/task"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/current": {
      "get": {
        "description": "Api will return current user entity",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "current_user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "0caa56f9-2abd-45b2-8469-e41d3e692eaa"
                        },
                        "name": {
                          "type": "string",
                          "example": "sample user"
                        },
                        "email": {
                          "type": "string",
                          "example": "sampleuser@gmail.com"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts": {
      "get": {
        "description": "Api will return the list of accounts",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Account Search String",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_ids": {
                      "type": "array",
                      "description": "List of account IDs",
                      "items": {
                        "type": "string",
                        "example": "abc1234abc"
                      }
                    },
                    "account_map_by_id": {
                      "type": "object",
                      "description": "Map of accounts by ID",
                      "properties": {
                        "abc1234abc": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Account ID",
                              "example": "abc123abc"
                            },
                            "name": {
                              "type": "string",
                              "description": "Account name",
                              "example": "Sample account"
                            },
                            "additional_fields": {
                              "type": "object",
                              "description": "Additional fields for the account",
                              "properties": {
                                "website": {
                                  "type": "string",
                                  "description": "Website url (Optional)",
                                  "example": "www.xyz.com"
                                }
                              }
                            },
                            "account_contact_associations_id": {
                              "type": "string",
                              "description": "ID of associated account contact association (Optional)",
                              "example": "abc123abc"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/feed": {
      "get": {
        "description": "Api will return the paginated account feed details",
        "parameters": [
          {
            "name": "pagination_identifier",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "xyz"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_ids": {
                      "type": "array",
                      "description": "List of account IDs",
                      "items": {
                        "type": "string",
                        "example": "abc1234abc"
                      }
                    },
                    "account_map_by_id": {
                      "type": "object",
                      "description": "Map of accounts by ID",
                      "properties": {
                        "abc1234abc": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Account ID",
                              "example": "abc123abc"
                            },
                            "name": {
                              "type": "string",
                              "description": "Account name",
                              "example": "Sample account"
                            },
                            "additional_fields": {
                              "type": "object",
                              "description": "Additional fields for the account",
                              "properties": {
                                "website": {
                                  "type": "string",
                                  "description": "Website url (Optional)",
                                  "example": "www.xyz.com"
                                }
                              }
                            },
                            "account_contact_associations_id": {
                              "type": "string",
                              "description": "ID of associated account contact association (Optional)",
                              "example": "abc123abc"
                            }
                          }
                        }
                      }
                    },
                    "contact_map_by_id": {
                      "type": "object",
                      "description": "Map of contacts by ID",
                      "properties": {
                        "abcd1234abcd": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Contact ID",
                              "example": "abcd1234abcd"
                            },
                            "name": {
                              "type": "string",
                              "description": "Contact name",
                              "example": "Sample contact name"
                            },
                            "additional_fields": {
                              "type": "object",
                              "description": "Additional fields for the contact",
                              "properties": {
                                "email": {
                                  "type": "string",
                                  "description": "Email Id (Optional)",
                                  "example": "xyz@gmail.com"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "account_contact_associations_map_by_id": {
                      "type": "object",
                      "description": "Map of account contact associations by ID",
                      "properties": {
                        "abc1234abc": {
                          "type": "object",
                          "properties": {
                            "contact_ids": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "abcd1234abcd"
                              },
                              "description": "List of contact IDs associated with the account"
                            }
                          }
                        }
                      }
                    },
                    "next_page_payload": {
                      "type": "object",
                      "description": "Payload for next page of data (if applicable)",
                      "properties": {
                        "pagination_identifier": {
                          "type": "string",
                          "example": "xyz"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
